body {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	padding-top: 80px;
	margin: 0;
}
body h2 {
	font-weight: 300;
}
body h2 a {
	color: black;
	font-size: 12px;
}
body button {
	display: inline-block;
	box-sizing: border-box;
	border: 0;
	border-radius: 3px;
	color: white;
	vertical-align: top;
	text-decoration: none;
	font-size: 12px;
	font-family: inherit;
	cursor: pointer;
	outline: none;
	transition: all 500ms;
	padding: 12px;
	box-shadow: none;
	background: #02ccba;
	font-weight: 600;
	width: 100%;
	letter-spacing: 1px;
	box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
}
body button.success {
	background: #68cd86;
}
body button.warn {
	background: #ffb648;
}
body button.error {
	background: #e54d42;
}
body button:active {
	opacity: 0.8;
}
body #app {
	text-align: center;
	color: #2c3e50;
}
body #app .content {
	margin: 0 auto;
	max-width: 420px;
}
.sub-button {
	display: inline-block;
	float: right;
	background: #e54d42;
	padding: 4px;
	box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
}
/*
 EXAMPLES
 */
.notification.n-light {
	margin: 10px;
	margin-bottom: 0;
	border-radius: 3px;
	font-size: 13px;
	padding: 10px 20px;
	color: #495061;
	background: #eaf4fe;
	border: 1px solid #d4e8fd;
}
.notification.n-light .notification-title {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 10px;
	color: #2589f3;
}
.custom-template {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: left;
	font-size: 13px;
	margin: 5px;
	margin-bottom: 0;
	align-items: center;
	justify-content: center;
	background: #e8f9f0;
	border: 2px solid #d0f2e1;
}
.custom-template, .custom-template > div {
	box-sizing: border-box;
}
.custom-template .custom-template-icon {
	flex: 0 1 auto;
	color: #15c371;
	font-size: 32px;
	padding: 0 10px;
}
.custom-template .custom-template-close {
	flex: 0 1 auto;
	padding: 0 20px;
	font-size: 16px;
	opacity: 0.2;
	cursor: pointer;
}
.custom-template .custom-template-close:hover {
	opacity: 0.8;
}
.custom-template .custom-template-content {
	padding: 10px;
	flex: 1 0 auto;
}
.custom-template .custom-template-content .custom-template-title {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
}
.v-fade-left-enter-active, .v-fade-left-leave-active, .v-fade-left-move {
	transition: all 0.5s;
}
.v-fade-left-enter, .v-fade-left-leave-to {
	opacity: 0;
	transform: translateX(-500px) scale(0.2);
}

.item {
	padding: 10px;
	width: 25%;
	float: left;
}
.item .block {
	padding-bottom: 100%;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.item:nth-child(1) .block {
	background-color: #9f9f9f;
}
.item:nth-child(2) .block {
	background-color: #999;
}
.item:nth-child(3) .block {
	background-color: #7f7f7f;
}
.item:nth-child(4) .block {
	background-color: #7b7b7b;
}
.item:nth-child(5) .block {
	background-color: #888;
}
.item:nth-child(6) .block {
	background-color: #969696;
}
.item:nth-child(7) .block {
	background-color: #a6a6a6;
}
.item:nth-child(8) .block {
	background-color: #747474;
}
.item:nth-child(9) .block {
	background-color: #6c6c6c;
}
.item:nth-child(10) .block {
	background-color: #828282;
}
.item:nth-child(11) .block {
	background-color: #737373;
}
.item:nth-child(12) .block {
	background-color: #bdbdbd;
}
.item:nth-child(13) .block {
	background-color: #b3b3b3;
}
.item:nth-child(14) .block {
	background-color: #858585;
}
.item:nth-child(15) .block {
	background-color: #aaa;
}
.item:nth-child(16) .block {
	background-color: #8a8a8a;
}
.item:nth-child(17) .block {
	background-color: #8c8c8c;
}
.item:nth-child(18) .block {
	background-color: #767676;
}
.item:nth-child(19) .block {
	background-color: #989898;
}
.item:nth-child(20) .block {
	background-color: #8e8e8e;
}
.item:nth-child(21) .block {
	background-color: #b7b7b7;
}
.item:nth-child(22) .block {
	background-color: #a7a7a7;
}
.item:nth-child(23) .block {
	background-color: #747474;
}
.item:nth-child(24) .block {
	background-color: #bebebe;
}
.item:nth-child(25) .block {
	background-color: #686868;
}
.item:nth-child(26) .block {
	background-color: #696969;
}
.item:nth-child(27) .block {
	background-color: #a6a6a6;
}
.item:nth-child(28) .block {
	background-color: #787878;
}
.item:nth-child(29) .block {
	background-color: #848484;
}
.item:nth-child(30) .block {
	background-color: #8d8d8d;
}
.item:nth-child(31) .block {
	background-color: #ababab;
}
.item:nth-child(32) .block {
	background-color: #adadad;
}
.item:nth-child(33) .block {
	background-color: #777;
}
.item:nth-child(34) .block {
	background-color: #b1b1b1;
}
.item:nth-child(35) .block {
	background-color: #898989;
}
.item:nth-child(36) .block {
	background-color: #747474;
}
.item:nth-child(37) .block {
	background-color: #b1b1b1;
}
.item:nth-child(38) .block {
	background-color: #c4c4c4;
}
.item:nth-child(39) .block {
	background-color: #868686;
}
.item:nth-child(40) .block {
	background-color: #6b6b6b;
}
.item:nth-child(41) .block {
	background-color: #7a7a7a;
}
.item:nth-child(42) .block {
	background-color: #909090;
}
.item:nth-child(43) .block {
	background-color: #707070;
}
.item:nth-child(44) .block {
	background-color: #737373;
}
.item:nth-child(45) .block {
	background-color: #747474;
}
.item:nth-child(46) .block {
	background-color: #b4b4b4;
}
.item:nth-child(47) .block {
	background-color: #959595;
}
.item:nth-child(48) .block {
	background-color: #a4a4a4;
}
.item:nth-child(49) .block {
	background-color: #7b7b7b;
}
.item:nth-child(50) .block {
	background-color: #7a7a7a;
}
.item:nth-child(51) .block {
	background-color: #acacac;
}
.item:nth-child(52) .block {
	background-color: #c4c4c4;
}
.item:nth-child(53) .block {
	background-color: #6f6f6f;
}
.item:nth-child(54) .block {
	background-color: #898989;
}
.item:nth-child(55) .block {
	background-color: #bebebe;
}
.item:nth-child(56) .block {
	background-color: #9b9b9b;
}
.item:nth-child(57) .block {
	background-color: #9b9b9b;
}
.item:nth-child(58) .block {
	background-color: #9e9e9e;
}
.item:nth-child(59) .block {
	background-color: #686868;
}
.item:nth-child(60) .block {
	background-color: #b2b2b2;
}
